main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.heading-details {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.return-button {
    text-decoration: none;
    line-height: 150%;
    color: white;
    background-color: black;
    border-radius: 20px;
    font-weight: bold;
    padding: 0 1rem;
    border: 2px solid black;
}

.return-button:hover {
    background-color: white;
    color: black;
}

.details {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem;
    background-color: rgba(67, 122, 142, .4);
    align-self: center;
}

.detail-img {
    width: auto;
    align-self: center;
    padding-top: 1rem;
}

.text h3 {
    font-size: 150%;
    padding-bottom: 1rem;
}

.bold {
    font-weight: bold;
}

.pad {
    padding-bottom: 1rem;
}

.ability {
    text-align: justify;
}

.horizontal-line {
    border-top: 2px solid rgba(0, 0, 0, .1);
    width: 20%;
    margin: 1rem auto;
}

@media screen and (min-width: 600px) {
    .heading-details {
        max-width: 80%;
        align-self: center;
        gap: 2rem;
    }

    .details {
        flex-direction: row;
        justify-content: center;
        width: fit-content;
        justify-self: center;
    }

    .text {
        padding-right: 2rem;
    }

    .horizontal-line {
        display: none;
    }
}