footer {
    background-color: var(--color-blue);
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-top: 3px solid black;
}

footer p {
    color: white;
    line-height: .7;
    font-size: small;
}


/* Add for larger screen size */
.spacer {
    display: none;
    border-left: 1px solid white;
}