:root {
    --font-header: "Chewy";
    --font-headings: "Zalando Sans SemiExpanded", sans-serif;
    --font-paragraphs: "Zalando Sans", sans-serif;

    --color-blue: #437C90;
    --color-cyan: #255957;
    --color-darkRed: #710627;
    --color-lightRed: #9E1946;
}

* {
    margin: 0;
    box-sizing: border-box;
}

h2 {
    font-family: var(--font-headings);
}

p {
    font-family: var(--font-paragraphs);
}

main {
    padding: 1.5rem;
}