header {
    display: flex;
    flex-direction: column;
}

.header-box {
    display: flex;
    flex-wrap: nowrap;
}

.title {
    font-family: var(--font-header);
    color: white;
    text-align: center;
    border: 5px solid black;
    background-color: var(--color-blue);
    padding: 1rem;
    width: 90%;
}

.menu {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    line-height: 1.5rem;
    background-color: black;
    border-bottom: 5px solid black;
}

.menu.toggle {
    display: flex;
}

.menu a {
    text-align: center;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: .5rem;
    font-weight: bold;
    font-size: larger;
    border-radius: 5px;
}

.menu a:hover {
    background-color: var(--color-blue);
}

.menu-toggle {
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: .5rem;
    font-weight: bold;
    font-size: larger;
    font-family: var(--font-paragraphs);
    cursor: pointer;
    border: none;
    width: 10%;
}

@media screen and (min-width: 600px) {
    .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .menu a {
        text-align: center;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: .5rem;
        font-weight: bold;
        font-size: larger;
        width: 40%;
        border-radius: 5px;
    }

    .menu-toggle {
        display: none;
    }

    .title {
        width: 100%;
    }
}